@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #161616;
  scroll-behavior: smooth;
  color: #ffffff;
  overflow-x: hidden;
}

.centered-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-bottom {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.bg-image {
  position: relative;
  background-image: url('../public/bgg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center -31.875px;
}

.bg-image:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #121319;
  opacity: 0.6;
  z-index: 1;
}

.gradient-animation-light {
  background: radial-gradient(circle, #fff 14%, #42AFE9 57%, #fff 100%);
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientAnimation 15s linear infinite;
}

.gradient-animation-dark {
  background: linear-gradient(81deg, #4452FE 33%, #3600ff 57%, #4452FE 69%);
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientAnimation 10s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}

.swiper-container {
  position: relative;
}

/* Style for pagination at the bottom */
.swiper-pagination {
  position: absolute;
  bottom: 0px; /* Adjust this value to control the distance from the bottom */
  left: 0%;
  transform: translateX(-50%);
}

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  z-index: 999;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 2px solid blue;
  border-radius: 50%;
  opacity: .5;
  top: -8px;
  left: -8px;
}

@keyframes cursorAnim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(5);
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.expand {
  animation: cursorAnim .5s forwards;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 8px);
  /* top: var(--swiper-pagination-top, auto); */
  left: 0;
  bottom: -10px;
  width: 100%;
  position: relative;
  z-index: 999;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 8px);
  /* top: var(--swiper-pagination-top, auto); */
  left: 0;
  width: 100%;
  bottom: -8px;
}



html {
  scroll-behavior: smooth;
}