@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #161616;
  scroll-behavior: smooth;
  color: #ffffff;
}

.centered-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-image {
  position: relative;
  background-image: url('../public/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center -31.875px;
}

.bg-image:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #121319;
  opacity: 0.6;
  z-index: 1;
}

.gradient-animation-light {
  background: radial-gradient(circle, #fff 14%, #42AFE9 57%, #fff 100%);
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientAnimation 15s linear infinite;
}

.gradient-animation-dark {
  background: linear-gradient(81deg, #130A52 33%, #42AFE9 57%, #130A52 69%);
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientAnimation 10s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}